h1 {
  font-size: 50px;
  font-family: "Verdana";
  color: white;
  text-align: center;
  font-weight: normal;
  background-color: black;
}

body {
  background-color: black;
}

p {
  font-size: 21px;
  color: gray;
  font-family: "Verdana";
}

.links {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
}
